@*@model Review*@
<html lang="en">
<link rel="stylesheet" type="text/css" href="sell.css" media="screen" />


<head>
<meta name="viewport" content="width=device-width" />
<title>Sell</title>
</head>
  


<body>

<style>
div {
<p style=”padding: 1px; color: black; background-color: white; border: black 2px solid”>Text</p>
}
</style>

<font size="+2"><FONT COLOR="black"><center><h1>Sell</h1></center>




<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>



<img src="~/images/Market_Images/typing.jpg" alt="Sell" style="width:50%";>

<div> Please enter information about what you want to sell.</div>
<br />
<div class="form-group">
<label @*asp-for=""*@>Description:</label>
<textarea type="text" @*asp-for=""*@ class="form-control" rows="5" cols="60" name="text" placeholder="Enter Information"></textarea>
<span @*asp-validation-for="" *@class="text-danger"></span>
</div>



<p1 style="color:white;"; font face= aerial;> Upload Image.</p1>
<div class="form-group">
<input type="submit" value="Sell" class="btn btn-info" />
<a asp-action="Index" class="btn btn-warning">Cancel</a>
</div>
@*<form action="">
<input type="file" id="myFile" name="filename">
<br><br />
<input type="submit">
</form>*@
</font>
@*//<input type="text" class="description_fill_out" id="description" name="description" style="height:50px; width:1000px;">
*@

</body>
</html>





