@{
    ViewData["Title"] = "List Page";
}

@*<table class="table table-striped table-bordered">
    <thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Pictures</th>
    <th>Rate</th>
    <th></th>
    </tr>
    </thead>
    <tbody>

    <tr>
    <td>Room for Rent</td>
    <td>I have a room for rent in my 2-bedroom apt</td>
    <td><img src="~/ff.jpg" id="main" onclick="change(this.src)" /></td>
    <td>$500/month</td>

    <td>
    <a asp-controller="" asp-action="" class="btn btn-info"> Edit </a>
    <a asp-controller="List" asp-action="Delete" class="btn btn-info"> Delete </a>
    </td>
    </tr>
    </tbody>
    </table>

    <form asp-action="Add">
    <button type="submit" class="btn btn-info"> Create Listings </button>
    </form>*@


<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <!-- Container for our gallery -->

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Pictures</th>
                <th>Rate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Room for Rent</td>
                <td>I have a room for rent in my 2-bedroom apt</td>
                <td>
                    <div class="container">

                        <!-- Main view of our gallery -->
                        <div class="main_view">
                            <img src="ff.jpg" id="main" alt="IMAGE">
                        </div>

                        <!-- All images with side view -->
                        <div class="side_view">
                            <img src="~/ff.jpg" onclick="change(this.src)">
                            <img src="~/ff1.jpg" onclick="change(this.src)">
                            @*<img src="" onclick="change(this.src)">
                            <img src="" onclick="change(this.src)">*@
                        </div>
                    </div>

                    
                </td>
                <td>$500/month</td>

                <td>
                    <a asp-controller="" asp-action="" class="btn btn-info"> Edit </a>
                    <a asp-controller="List" asp-action="Delete" class="btn btn-info"> Delete </a>
                </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Add">
        <button type="submit" class="btn btn-info"> Create Listings </button>
    </form>

    <script type="text/javascript">
        const change = src => {
            document.getElementById('main').src = src
        }
         var Window;
  
        // Function that open the new Window
        function windowOpen() {
            Window = window.open(
              "https://www.geeksforgeeks.org/",
                "_blank", "width=400, height=450");
        }
  
        // function that Closes the open Window
        function windowClose() {
            Window.close();
        }
    </script>
</body>

</html>