@*@model Review*@
<html lang="en">
<link rel="stylesheet" type="text/css" href="sell.css" media="screen" />


    <head>
         <meta name="viewport" content="width=device-width" />
    <title>Sell</title>
    </head>
  <body>

        <style>
div {
<p style=”padding: 1px; color: black; background-color: white; border: black 2px solid”>Text</p>
}
        </style>

<font size="+2"><FONT COLOR="black"><center><h1>Sell</h1></center>


       






 <img src="typing.jpg" alt="Shopping">

<div> Please enter information about what you want to sell.</div>
  
</font>


<input type="text" class="description_fill_out" id="description" name="description" style="height:50px; width:1000px;">


<br><br>

<p1 style="color:white;"; font face= aerial;> Upload Image.</p1>

<form action="">
  <input type="file" id="myFile" name="filename">
 <br><br />
  <input type="submit">
</form>
   
</body>
</html>