@*@model Review*@
<html>
    <head>
         <meta name="viewport" content="width=device-width" />
    <title>Sell</title>
    </head>
    <body>
        <h1>this is a test page which contians files for sell</h1>
    </body>
</html>