<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>




    <img src="shop.jpg" alt="Shopping">
   <h1>this is a test page which contians files for shop</h1>










</body>
</html>