<!DOCTYPE html>
<html lang="en">


<style>
body {
  background-image: url('statue.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>


<style>
div {
<p style=”padding: 1px; color: red; background-color: white; border: black 2px solid”>Text</p>
}
</style>

<title>Store</title>
<div class="title">
 <div><font size="+3"><h1>Welcome to the Marketplace</h1></div>

<div class="body">
<div>
  <font size="+2"><strong><center><h2></style>Select an Option</h2> 
</div>

    
<div>
  <font size="+2"><left><a href="for_sale.html">For Sale Listings</a> <font size="+2"> <a href="sell.html">Sell Something</a> <font size="+2"><a href="about.html">About</a>
</div>





</html>
