<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clubs</title>
     <link rel="stylesheet" type="text/css"  href="/css/ram.css">
</head>
<!-- <body background="ff.jpg" class="bg"> -->
<body>
    <h1 style="text-align: center;font-style: italic;">Clubs at Fairfield</h1>
    <div style="text-align: justify;">
       <dl>
           <dt style="font-size: 20px;text-align: left;"><img src="/images/Ram/club1.jpg" width="50" height="50"><u>&nbsp;Asian Students Association</u>
               <dd style="text-align: justify;">
                Our purpose is to help expand the knowledge of Asian culture and promote the importance of diversity on campus among our club members, the university population, and nearby communities.
               </dd>
               <dd> <button class="button button2">Join</button></dd>
           </dt>
           <dt style="font-size: 20px;text-align: left;"><img src="/images/Ram/club2.jpg" width="50" height="50"><u>&nbsp;Barkada</u>
            <dd style="text-align: justify;">
                Barkada in Tagalog means “a group of friends,” and that is exactly what we are. In this club, our goal is to unify Fairfield students interested in Filipino culture through monthly social interactions. Members do not have to be Filipino or speak Tagalog to join. The only requirement is great appreciation for the Philippines’ rich culture.
            </dd>
             <dd> <button class="button button2">Join</button></dd>
        </dt>
        <dt style="font-size: 20px;text-align: left;"><img src="/images/Ram/club3.jpg" width="50" height="50"><u>&nbsp;Fairfield Gaming Club</u>
            <dd style="text-align: justify;">
                The Fairfield Gaming Club is 'THE' video game enthusiasts' organization on campus. We hold events weekly where we play large group video games such as Mario Kart, super smash bros, FIFA, D&D, and other party or arcade-style retro games.<br> We also help organize our professional Esports teams on campus such as the OVERWATCH Team, and the FORTNITE team. We are always looking for more competitive players to represent Fairfield in other Tournaments! <br><style></style> our Discord <a href="https://discord.gg/VgYxD2q">click here</a> if you want to stay on top of what Video Game club is up to!
            </dd>
             <dd> <button class="button button2">Join</button></dd>
        </dt>
        <dt style="font-size: 20px;text-align: left;"><img src="/images/Ram/club4.jpg" width="50" height="50"><u>&nbsp;Black Student Union</u>
            <dd style="text-align: justify;">
                The BSU is a club that aims to enhance the overall experience of black students and their allies through multiple avenues including campus programming, community service, peer-to-peer mentoring, networking opportunities, and by providing a safe space for these students to exist at our university.
                <br>Club meetings are open to ALL students. 
            </dd>
             <dd> <button class="button button2">Join</button></dd>
        </dt>
        <dt style="font-size: 20px;text-align: left;"><img src="/images/Ram/club5.jpg" width="50" height="50"><u>&nbsp;Innovator's Club</u>
            <dd style="text-align: justify;">
                The goal of the Innovator’s Club is to inspire all Fairfield students to look beyond the constraints of today’s design technology and go beyond the limits of traditional techniques. We will achieve this by using various technologies such as 3D printing, Virtual/Augmented reality, and open source software.

                <br>The Innovator's Club is aimed to be a resource for the students of Fairfield. Our mission is to encourage students to bring their own ideas to life, and we hope to encourage collaboration between the students and the student-run clubs as we work on different projects throughout the semester.
            </dd>
             <dd> <button class="button button2">Join</button></dd>
        </dt>
        <dt style="font-size: 20px;text-align: left;"><img src="/images/Ram/club6.jpg" width="50" height="50"><u>&nbsp;Commuters Club</u>
            <dd style="text-align: justify;">
                The Commuter Student Association is a group for both commuters and residents to connect with each other and have fun! We host different events throughout each semester where students can come together as a community, make friends, and promote commuter pride! We also advocate for commuter needs and help voice any concerns in order to help students have the best college experience as possible. 
            </dd>
            <dd> <button class="button button2">Join</button></dd>
        </dt>
        <dt style="font-size: 20px;text-align: left;"><img src="/images/Ram/club7.jpg" width="50" height="50"><u>&nbsp;Cryptocurrency Club</u>
            <dd style="text-align: justify;">
                The purpose of this organization shall be to educate, inform, and discuss cryptocurrency terms, current market conditions, and analysis of blockchain. We will also take into account the external effects that the stock market and overall economy has on the cryptocurrency market. 
                <br>Our vision is to help those in the club learn and become educated in the cryptocurrency field, as it is up and rising, through the use of guest speakers, informative presentations, and open discussion.
            </dd>
             <dd> <button class="button button2">Join</button></dd>
        </dt>
        <dt style="font-size: 20px;text-align: left;"><img src="/images/Ram/club8.jpg" width="50" height="50"><u>&nbsp;Fairfield Ski& SnowboardClub</u>
            <dd style="text-align: justify;">
                The Fairfield Ski & Ride Club created in 2018 is a recreational club for all skiers and riders to go on day trips to the mountain during the winter. Get a group of friends together for the day and come up with us to have fun. With an agreement in place with Mt. Snow in southern Vermont and a new IKON pass deal slated to begin for the winter of 2021-2022, members of the club can enjoy discounted lift tickets and rental deals to a variety of destinations. Please check out our news post to see the latest happenings and click on photos to see past trips.
            </dd>
             <dd> <button class="button button2">Join</button></dd>
        </dt>

       </dl>
    </div>
</body>
</html>