@*@model Review*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Events</title>
    <link rel="stylesheet" type="text/css"  href="/css/ram.css">
</head>
<body>
    <h1>Join the events going on</h1>
    <br>
    <div class="container">
        <img src="/images/Ram/event3.png">
        <div class="name">&nbsp;&nbsp;&nbsp;CT Food Bank (Foodshare) Packing
           <div class="font"><br>&nbsp;&nbsp;&nbsp;
            Date and Time
            <br>&nbsp;&nbsp;&nbsp;
            Monday, February 28 2022 at 4:45 PM EST to
            <br>&nbsp;&nbsp;&nbsp;
            Monday, February 28 2022 at 5:45 PM EST
        </div> 
        </div>
    </div>

    <div class="container">
        <img src="/images/Ram/event1.jpg">
        <div class="name">&nbsp;&nbsp;&nbsp;CT Food Bank (Foodshare) Packing
           <div class="font"><br>&nbsp;&nbsp;&nbsp;
            Date and Time
            <br>&nbsp;&nbsp;&nbsp;
            Tuesday, March 1 2022 at 8:30 AM EST to
            <br>&nbsp;&nbsp;&nbsp;
            Tuesday, March 1 2022 at 11:30 AM EST
        </div> 
        </div>
    </div>
    <br>
    <div class="container">
        <img src="/images/Ram/event2.png">
        <div class="name">&nbsp;&nbsp;&nbsp;CT Food Bank (Foodshare) Packing
           <div class="font"><br>&nbsp;&nbsp;&nbsp;
            Date and Time
            <br>&nbsp;&nbsp;&nbsp;
            Tuesday, March 1 2022 at 11:00 AM EST to
            <br>&nbsp;&nbsp;&nbsp;
            Tuesday, March 1 2022 at 4:00 PM EST
        </div> 
        </div>
    </div>
  
    <br>
    <br>
    <div class="container">
        <img src="/images/Ram/event5.png">
        <div class="name">&nbsp;&nbsp;&nbsp;CT Food Bank (Foodshare) Packing
           <div class="font"><br>&nbsp;&nbsp;&nbsp;
            Date and Time
            <br>&nbsp;&nbsp;&nbsp;
           Tuesday, March 1 2022 at 1:00 PM EST to
            <br>&nbsp;&nbsp;&nbsp;
            Tuesday, March 1 2022 at 4:00 PM EST
        </div> 
        </div>
    </div>
</body>
</html>
