@*@model Review*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Events</title>
    <link rel="stylesheet" type="text/css"  href="/css/ram.css">
</head>
<body>
    <h1>Join the events going on</h1>
    <div class="container">
        <img src="/images/Ram/event1.jpg">
        <div class="name">&nbsp;&nbsp;&nbsp;CT Food Bank (Foodshare) Packing
           <div class="font"><br>&nbsp;&nbsp;&nbsp;
            Date and Time
            <br>&nbsp;&nbsp;&nbsp;
            Tuesday, May 3 2022 at 8:30 AM EST to
            <br>&nbsp;&nbsp;&nbsp;
            Tuesday, May 3 2022 at 11:30 AM EST
        </div> 
        <button class="button button2">Join</button>
        </div>
    </div>
    <br>
    <div class="container">
        <img src="/images/Ram/event2.png">
        <div class="name">&nbsp;&nbsp;&nbsp;MadriGrass
           <div class="font"><br>&nbsp;&nbsp;&nbsp;
            Date and Time
            <br>&nbsp;&nbsp;&nbsp;
            Thursday, April 28 2022 at 10:00 AM EST to
            <br>&nbsp;&nbsp;&nbsp;
            Thursday, April 28 2022 at 12:00 PM EST
        </div> 
        <button class="button button2">Join</button>
        </div>
        
    </div>
    <div class="container">
        <img src="/images/Ram/event3.png">
        <div class="name">&nbsp;&nbsp;&nbsp;Fitness Freak
           <div class="font"><br>&nbsp;&nbsp;&nbsp;
            Date and Time
            <br>&nbsp;&nbsp;&nbsp;
            Tuesday, April 26 2022 starts at 6:00 PM EST
          
        </div> 
        <button class="button button2">Join</button>
        </div>
    </div>

</body>
</html>
