@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Events</title>
  <style>
      div1{
          background-color:White;
          width: 300px;
          border: 15px solid grey;
          padding: 50px;
          margin: 20px;
      }
  </style>
</head>
<body>
    <h1>Join the events going</h1>
    <div>
        Master any Interview 
        hi 
        <p>Thursdy, february 17 at 3:00pm EST</p>
    </div>
</body>
</html>