@*@model Review*@

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Events</title>
        <link rel="stylesheet" type="text/css"  href="/css/ram.css">
    </head>
    <body>
        <br>
        <h1>Join the social clubs on campus</h1>
        <br>
        <div class="container">
            <img src="/images/Ram/ff.jpg">
            <div class="name">&nbsp;&nbsp;&nbsp;Fairfield County Hunt Club
            </div>
        </div>
       <br>
       <br>
        <div class="container">
            <img src="/images/Ram/social1.jpg">
            <div class="name">&nbsp;&nbsp;&nbsp;Grad students meet
               <div class="font"><br>&nbsp;&nbsp;&nbsp;
                Date and Time
                <br>&nbsp;&nbsp;&nbsp;
                Tuesday, March 1 2022 at 8:30 AM EST to
            </div> 
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <img src="/images/Ram/social2.jpg">
            <div class="name">&nbsp;&nbsp;&nbsp;Job Skills for Engineers
               <div class="font"><br>&nbsp;&nbsp;&nbsp;
                Date and Time
                <br>&nbsp;&nbsp;&nbsp;
                Monday, March 25 2022 at 11:00 AM EST to
            </div> 
            </div>
        </div>
      
        <br>
    </body>
    </html>
    