@*@model Review*@

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Social</title>
        <link rel="stylesheet" type="text/css"  href="/css/ram.css">
    </head>
    <body>
        <h1>Socialize your life </h1>
        <h2>By</h2>
       <br>
        <h3>join the social clubs on campus</h3>
        <br>
        <div class="container">
            <img src="/images/ram/ff.jpg">
            <div class="name">&nbsp;&nbsp;&nbsp;fairfield county hunt club
              <div class="font"><br>&nbsp;&nbsp;&nbsp;
                date and time
                <br>&nbsp;&nbsp;&nbsp;
                monday, march 25 2022 at 11:00 am est to
            </div> 
            </div>
            <button class="button button2">Join</button>
        </div>
       <br>
       <br>
        <div class="container">
            <img src="/images/ram/social1.jpg">
            <div class="name">&nbsp;&nbsp;&nbsp;grad students meet
               <div class="font"><br>&nbsp;&nbsp;&nbsp;
                date and time
                <br>&nbsp;&nbsp;&nbsp;
                tuesday, march 1 2022 at 8:30 am est to
                </div> 
             
            </div>
            <button class="button button2">Join</button>
        </div>
        <br>
        <br>
        <div class="container">
            <img src="/images/ram/social2.jpg">
            <div class="name">&nbsp;&nbsp;&nbsp;job skills for engineers
               <div class="font"><br>&nbsp;&nbsp;&nbsp;
                date and time
                <br>&nbsp;&nbsp;&nbsp;
                monday, march 25 2022 at 11:00 am est to
            </div> 
             
            </div>
            <button class="button button2">Join</button>
        </div>
      
        <br>
    </body>
    </html>
    