@model IEnumerable<FairfieldConnect.Models.Thumbnail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Review Photos</h3>

<p>
    <a asp-action="Create">Add More</a>
</p>
<table class="table">
    <thead>
        <tr>         
            <th>Photo</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           

            <td>
                 <img src ="@("~/image/" + item.ThumbnailName)" asp-append-version="true"/>
            </td> 
            
            <td>
                <a asp-action="Details" asp-route-id="@item.ThumbnailID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThumbnailID">Delete</a>
                

            </td>
        </tr>
}
    </tbody>
</table>
