html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: darkred;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: grey;
    padding: 10px;
}

.grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align:left
}
.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

/*img {
    max-width: 100%
}
*/
.image {
    flex-basis: 40%
}

.text {
    font-size: 20px;
    padding-left: 20px;
}

.bg {
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
