@{
    ViewData["Title"] = "Find Page";
}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>Look for a roommate</td>
                <td>I am a senior student in SWEG, looking for a female roommate who is clean and nice</td>

                <td>                     
                        <a asp-controller="" asp-action="" class="btn btn-info"> Edit </a>
                        <a asp-controller="" asp-action="" class="btn btn-info"> Delete </a>
                </td>
            </tr>
        
    </tbody>
</table>
<form asp-action="">
    <button type="submit" class="btn btn-info"> Create Posts </button>
</form>

