<html>
<head>
<h2>We help college students find apartments</h2>
</head>

<p> College can be difficult, but finding housing is easy using Fairfield Connect. By offering a complete listing of available properties,we’ve become a popular resource for students who need a place to call home while they’re in school.In turn, we’re also a valuable resource for people who are looking for reliable, trustworthy subleasers.

<h2>We also give students a place to post subleases</h2>

<p> It doesn’t matter if you’re looking for a long-term subleaser or someone to fill a vacancy during the summer; you’ll find exactly what you need using our website. For best results, enter an attractive title and complete description of the property. You’ll also want to input the number of rooms and price. Most college students are concerned about proximity; so be sure to list any nearby college campuses. To attract attention to your listing, add some photographs which give a realistic glimpse of what students can expect. Once you’ve entered all the relevant information you can think of, click submit, and our system will put your listing in front of numerous potential candidates who are eagerly seeking student housing.</p>

    
<div>
<h1><strong>Contact Us</strong></h1>
<p>EmailId: fairfieldconnect@fairfield.edu <br />
Phone: (631) 499-6660</p>

</div>
<br>
<div>
    <a href="https://www.instagram.com/fairfieldu/">
        <img src="/images/about/insta.jpg" width="50" height="50"/>
    </a> 
    <a href="https://www.facebook.com/fairfieldu/">
         <img src="/images/about/face.jpg" width="50" height="50"/>
    </a>
   <a href="https://www.twitter.com/fairfieldu/">
         <img src="/images/about/twi.jpg" width="50" height="50"/>
   </a>
   </div>
<div>
       <iframe src="https://www.google.com/maps/d/embed?mid=1rc1LfxxBUxnkuU1eAJgqvsPkjNU&ehbc=2E312F" width="640" height="480"></iframe>
</div>   
</html>