
@*model Review*@
   
<html>

<head></head>
<div class="image">
                <img src="/images/about/stag.jpg" width=100 height=100>
            </div>

<p>Founded by the Society of Jesus in 1942, Fairfield University is a coeducational institution of higher learning whose primary objectives are to develop the creative intellectual potential of students and to foster in them ethical and religious values and a sense of social responsibility. Jesuit Education, which began in 1547, is committed to the service of faith, of which the promotion of justice is an absolute requirement.

Fairfield University is Catholic in both tradition and spirit and celebrates the God-given dignity of every human person. As a Catholic institution, we welcome individuals of all beliefs and traditions who share our passion for scholarship, justice, truth, and freedom, and we value the diversity their membership brings to our community.

Fairfield educates students through a variety of scholarly and professional disciplines. All of our schools share a liberal and humanistic perspective, a commitment to excellence, and a respect for all of the disciplines - their similarities, their differences, and their interrelationships. In particular, our undergraduate schools provide all students with a broadly based, general education curriculum with a special emphasis on the traditional humanities as a complement to the more specialized disciplines and professions provided by our major programs. We are also committed to the needs of society for liberally educated professionals, and meet that need through our undergraduate and graduate professional programs.

A Fairfield education is a liberal education, characterized by its breadth and depth. It offers opportunities for individual and common reflection and provides training in such essential human skills as analysis, synthesis, and communication. The liberally educated person is able to assimilate and organize facts, evaluate knowledge, identify issues, use appropriate methods of reasoning, and convey conclusions persuasively in written and spoken word. Equally essential to liberal education is the development of the esthetic dimension of human nature, the power to imagine, to intuit, to create, and to appreciate. In its fullest sense, liberal education initiates students at a mature level into their culture - its past, its present, and its future.</p>


<div>
<h1><strong>Contact Us</strong></h1>
<p>EmailId: fairfieldconnect@fairfield.edu <br />
Phone: (631) 499-6660</p>

</div>

    <br>

    <div>
      <a href="https://www.instagram.com/fairfieldu/">
         <img src="/images/about/insta.jpg"
   width="50" height="50"/>
     </a> 
    <a href="https://www.facebook.com/fairfieldu/">
         <img src="/images/about/face.jpg" 
   width="50" height="50"/>
      </a>
   <a href="https://www.twitter.com/fairfieldu/">
         <img src="/images/about/twi.jpg" 
   width="50" height="50"/>
      </a>
   </div>
   <br />

   </htnl>