@{
    ViewData["Title"] = "Home Page";
}

<h2>Our Story</h2>

<p>As a Fairfield student, my friends and I have struggled in finding housing off campus. 
    It is very difficult to find affordable and safe rentals in a wealthy area like Fairfield. 
    There are some online resources however, they are lack of the reviews for Landlords. 
    The properties do not match the pictures on the websites and Landlords are not honest in describing the condition of their properties. 
    Especially, students would want to live with other students instead of random people. 
    Additionally, I understand how stressful it is when students have to deal with school works, job search and networking. 
    Therefore, Fairfield Connect is the best place for students to come for socializing and sharing about how to be succeed in life</p>

<h2> About Fairfield Connect</h2>

<p>Fairfield Connect will form a pure and healthy Fairfield U community when only verified Fairfield student can create a user account. 
    It is where students can find housing, potential roommates and leave reviews about landlords. 
    Moreover, it also helps students succeed in academics when they can find tutoring or study partner there. 
    Beside finding housing and tutoring. Students will go there to sell or buy items (e.g. old textbook). 
    This application will definitely connect all Fairfield student together, create a strong student body, and help student live a successful life</p>
    
<div>
<h1><strong>Contact Us</strong></h1>
<p>EmailId: fairfieldconnect@fairfield.edu 
<br />
Phone: (203) 254-4000
</p>
</div>

<br />

<div>
    <a href="https://www.instagram.com/fairfieldu/">
        <img src="/images/about/insta.jpg" width="50" height="50"/>
    </a> 
    <a href="https://www.facebook.com/fairfieldu/">
         <img src="/images/about/face.jpg" width="50" height="50"/>
    </a>
   <a href="https://www.twitter.com/fairfieldu/">
         <img src="/images/about/twi.jpg" width="50" height="50"/>
   </a>
</div>
<br />
<div>
       <iframe src="https://www.google.com/maps/d/embed?mid=1rc1LfxxBUxnkuU1eAJgqvsPkjNU&ehbc=2E312F" width="640" height="480"></iframe>
</div>   
