@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="ff.jpg" alt="" width=1280>
</div>
<div class="grid-container">

    <div class="grid-item">
        <h3>Housing</h3>

        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <a asp-area="" asp-controller="Housing" asp-action="Listing">List a room</a>
                <br />
                <a asp-area="" asp-controller="Housing" asp-action="Find">Find a room</a>
                <br />
                <a asp-area="" asp-controller="Housing" asp-action="Review">Reviews</a>               
            </div>
        </div>
    </div>

    <div class="grid-item">
        <h3>Tutoring</h3>
        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <a asp-area="" asp-controller="Tutoring" asp-action="Index">Find a tutor</a>
                <br />
                             
            </div>
        </div>
    </div>

    <div class="grid-item">
        <h3>Community</h3>
        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <a asp-area=""asp-controller="Community" asp-action="Events">Events</a>
                <br />
                <a asp-area="" asp-controller="Community" asp-action="Clubs">Clubs</a>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <h3>About Us</h3>
        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <a asp-area="" asp-controller="Internal" asp-action="About">Our Story</a>
            </div>
        </div>
    </div>
</div>

