@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="ff.jpg" alt="" width=1280>
</div>
<div class="grid-container">

    <div class="grid-item">
        <a asp-area="" asp-controller="Housing" asp-action="Index">Housing</a>

        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <a asp-area="" asp-controller="Review" asp-action="Index">Reviews</a>
                <br />
                <a asp-area="" asp-controller="Find" asp-action="Index">Find a room</a>
                <br />
                <a asp-area="" asp-controller="List" asp-action="Index">List a room</a>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <a asp-area="" asp-controller="Tutoring" asp-action="Index">Tutoring</a>
        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <a asp-area="" asp-controller="TFind" asp-action="Index">Find a tutor</a>
                <br />
                <a asp-area="" asp-controller="TList" asp-action="Index">Be a tutor</a>
                
            </div>
        </div>
    </div>

    <div class="grid-item">
        <a asp-area="" asp-controller="Community" asp-action="Index">Community</a>
        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <a asp-area="" asp-controller="Community" asp-action="Social">Social</a>
                <br />
                <a asp-area=""asp-controller="Community" asp-action="Events">Events</a>
                <br />
                <a asp-area="" asp-controller="Community" asp-action="Clubs">Clubs</a>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <a asp-area="" asp-controller="Market" asp-action="Index">Market</a>
        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <a asp-area="" asp-controller="Market" asp-action="Shop">Shop</a>
                <br />
                <a asp-area="" asp-controller="Market" asp-action="Sell">Sell</a>
            </div>
        </div>
    </div>
</div>

