@{
    ViewData["Title"] = "Housing Page";
}
<body background="ff.jpg" class="bg">

<div class="grid-container1">
    <div class="grid-item1">
        <div class="card">
            <img src="ff1.jpg" alt="" style="width:100%">
            <div class="container">
                <h4><b><a asp-area="" asp-controller="" asp-action="Index">Socializes</a></b></h4> 
                <p></p> 
            </div>
        </div>
     </div>
    
    <div class="grid-item1">
        <div class="card">
            <img src="ff1.jpg" alt="" style="width:100%">
            <div class="container">
                <h4><b><a asp-area="" asp-controller="" asp-action="Index">Events</a></b></h4> 
                <p></p> 
            </div>
        </div>
     </div>

     <div class="grid-item1">
        <div class="card">
            <img src="ff1.jpg" alt="" style="width:100%">
            <div class="container">
                <h4><b><a asp-area="" asp-controller="" asp-action="Index">Clubs</a></b></h4> 
                <p></p> 
            </div>
        </div>
     </div>
</div>

</body>

