@{
    ViewData["Title"] = "Housing Page";
}
<body background="ff.jpg" class="bg">
<div class="row">
  <div class="column">
    <div class="card">
            <img src="ff1.jpg" alt="" style="width:100%">
            <div class="container">
                <h4><b><a asp-area="" asp-controller="Housing" asp-action="Reviews">Reviews</a></b></h4> 
                <p></p> 
            </div>
        </div>
  </div>
  <div class="column">
    <div class="card">
            <img src="ff1.jpg" alt="" style="width:100%">
            <div class="container">
                <h4><b><a asp-area="" asp-controller="Housing" asp-action="Find">Find a Room</a></b></h4> 
                <p></p> 
            </div>
        </div>
  </div>
  <div class="column">
    <div class="card">
            <img src="ff1.jpg" alt="" style="width:100%">
            <div class="container">
                <h4><b><a asp-area="" asp-controller="Housing" asp-action="List">List a Room</a></b></h4> 
                <p></p> 
            </div>
        </div>
  </div>
</div>
</body>

