@model List<Review>
@{
    ViewBag.Title = "Reviews";
}
<h3>Housing Reviews</h3>
<div class="row">
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var r in Model)
                {
                    <tr>
                        <td>@r.ReviewID</td>
                        <td>@r.Title</td>
                        <td>@r.Desc</td>
                        <td>
                            <a asp-controller="Housing" asp-action="ReviewDetails" asp-route-id=@r.ReviewID class="btn btn-info"> Details </a>
                            <a asp-controller="Housing" asp-action="EditReview" asp-route-id=@r.ReviewID class="btn btn-info"> Edit </a>
                            <a asp-controller="Housing" asp-action="DeleteReview" asp-route-id="@r.ReviewID" class="btn btn-info"> Delete </a>                              
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>
</div>

<br/>
 <form asp-action="AddReview">
     <button type="submit" class="btn btn-info"> Leave a Review </button>
 </form>
                


                       
                  
                    


   

