@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="ff.jpg" alt="" width=1280>
</div>
<div class="grid-container">

    <div class="grid-item">
        <a asp-area="" asp-controller="Housing" asp-action="Index">Housing</a>

        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <h4>Read reviews at local housing written by only verified Fairfield U students</h4>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <a asp-area="" asp-controller="Tutoring" asp-action="Index">Tutoring</a>
        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <h4>Get ahead this semester! Find tutor for any subject</h4>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <a asp-area="" asp-controller="Community" asp-action="Index">Community</a>
        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <h4>Let's meet up with other Stags!</h4>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <a asp-area="" asp-controller="Market" asp-action="Index">Market Place</a>
        <div class="container">
            <div class="image">
                <img src="ff.jpg" width=170 height=100>
            </div>
            <div class="text">
                <h4>Buy and sell other stuffs that you do not need</h4>
            </div>
        </div>
    </div>
</div>
