@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_FirstLayout.cshtml";
}

<div>
    <img src="ff.jpg" alt="" width=1280>
</div>
<div class="grid-container">

    <div class="grid-item">
      <h4>Housing</h4>

        <div class="container">
            <div class="image">
               <img src="~/images/home/apt.jpg" width=180 height=130>
            </div>
            <div class="text">
                <h4>Read reviews about local housing written by only verified Fairfield U students</h4>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <h4>Tutoring</h4>
        <div class="container">
            <div class="image">
                 <img src="~/images/home/tutor.png" width=170 height=100>
            </div>
            <div class="text">
                <h4>Get ahead this semester! Find tutor for any subject</h4>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <h4>Community</h4>
        <div class="container">
            <div class="image">
                <img src="~/images/home/social.jpg" width=250 height=120>
            </div>
            <div class="text">
                <h4>Let's meet up with other Stags!</h4>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <h4>About Us</h4>
        <div class="container">
            <div class="image">
                <img src="~/images/about/stag.jpg" width=150 height=150>
            </div>
            <div class="text">
                <h4>We are here to improve your college life quality</h4>
            </div>
        </div>
    </div>
</div>
