@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>
<body>
    <div>
        <img src="ff.jpg" alt="">
    </div>
    <div class="grid-container">
        <div class="grid-item"><a href="#Housing">Housing</a></div>
        <div class="grid-item"><a href="#Tutoring">Tutoring</a></div>
        <div class="grid-item"><a href="#Community">Community</a></div>
        <div class="grid-item"><a href="#Market">Market Place</a></div>
    </div>

</body>